.NavBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
    background-color: transparent;
    z-index: 5;
}

li {
    display: inline;
    cursor: pointer;
    z-index: 5;
}

li a {
    display: inline-block;
    color: #F3F9F9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

@media only screen and (max-width: 468px) {  
    ul {
        font-size: 0px;
        background-color: transparent;
    }

    li a {
        padding: 14px 11px;
    }
}